<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{% block title %}IAI Binder{% endblock %}</title>
  {% block meta_social %}
  {# Social media previews #}
  <meta property="og:title" content="The Binder Project">
  <meta property="og:image" content="https://mybinder.org/static/images/logo_social.png">
  <meta property="og:description" content="Reproducible, sharable, open, interactive computing environments.">
  <meta property="og:image:width" content="1334">
  <meta property="og:image:height" content="700">
  <meta property="og:image:alt" content="The Binder Project Logo" />
  <meta name="twitter:card" content="summary_large_image">
  {% endblock meta_social %}
  {% block head %}
  <link id="favicon" rel="shortcut icon" type="image/png" href="{{static_url("favicon.ico")}}" />
  <link href="{{static_url("dist/styles.css")}}" rel="stylesheet">
  </link>
  <script>
    const BUILTLISTAPI = {
      '10.0.0.100': 'http://192.168.102.13:9091/built-repo',
      'binder.intel4coro.de': 'https://built-repos.intel4coro.de/built-repo'
    }[location.host]

    function _renderBuiltRepos(data) {
      const containerDiv = document.getElementById("builtRepos")
      if (!containerDiv) return
      if (data.length === 0) {
        containerDiv.innerHTML = '<div class="text-center">No built repos yet</div>';
        return false;
      }
      containerDiv.innerHTML += data.map(v => {
        return `
        <div class="jumbotron" style="padding: 0 20px; display: flex;justify-content: space-between;align-items: center;">
          <a target="_blank" href="${v.repo_url}"><h4>${v.repo_author}/${v.repo_name}/${v.repo_ref}</h4></a>
          <a class="btn btn-submit" target="_blank" href="/v2${v.binder}">Launch</a>
        </div>
        `
      }).join('');
      return false;
    }

    async function postNewBuiltRepos (url) {
      const urlObj = new URL(url);
      const params = urlObj.searchParams;
      const providerPpec = urlObj.path;
      let pathType, path;
      path = params.get("urlpath");
      if (path) {
        pathType = "url";
      } else {
        path = params.get("labpath");
        if (path) {
          pathType = "lab";
        } else {
          path = params.get("filepath");
          if (path) {
            pathType = "file";
          }
        }
      }
      return await _requestFunc(BUILTLISTAPI, 'POST', {
        providerSpec: providerSpec,
        path: path,
        pathType: pathType,
      });
    }

    async function _requestFunc(url = '', method = 'GET', data) {
      try {
        const params = {
          method: method, // *GET, POST, PUT, DELETE, etc.
          headers: {
            'Content-Type': 'application/json'
          }
        }
        if (method !== 'GET' && data) {
          params.body = JSON.stringify(data);
        }
        const response = await fetch(url, params);
        return response.json();
      }
      catch (error) {
        console.error('Error:', error);
      }
    }
  </script>
  {% endblock head %}
</head>

<body>
  {% block body %}

  {% if banner %}
  <div id="banner-container">
    {{ banner | safe }}
  </div>
  {% endif %}

  {% block logo %}
  <div class="container">
    <div class="row">
      <div id="logo-container">
        <a href="/"><img id="logo" src="{{static_url("logo.svg")}}" width="330px" alt="logo" /></a>
        <a href="https://ai.uni-bremen.de/" target="_blank"><img id="logo-iai"
            src="https://intel4coro.ai.uni-bremen.de/assets/img/clients/iai.png" width="180px" alt="iai logo" /></a>
      </div>
    </div>
  </div>
  {% endblock logo %}

  {% block main %}
  {% endblock main %}

  {% block footer %}
  <div class="container">
    <div class="row text-center">
      <h3>questions?<br />join the <a href="https://discourse.jupyter.org/c/binder">discussion</a>, read the <a
          href="https://mybinder.readthedocs.io/en/latest/">docs</a>, see the <a
          href="https://github.com/jupyterhub/binderhub">code</a></h3>
    </div>
  </div>
  {% endblock footer %}

  {% if google_analytics_code %}
  <script>
    // Only load GA if DNT is not set
    if (navigator.doNotTrack != "1" && // Most Firefox & Chrome
      window.doNotTrack != "1" && // IE & Safari
      navigator.msDoNotTrack != "1" // Old IE
    ) {
      console.log("Loading Google Analytics, since Do Not Track is off");
      (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
          (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
          m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
      })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

      ga('create', '{{ google_analytics_code }}', '{{ google_analytics_domain }}',
        { 'storage': 'none' });
      ga('set', 'anonymizeIp', true);
      ga('send', 'pageview');
    }
  </script>
  {% endif %}
  {% if extra_footer_scripts %}
  {% for script in extra_footer_scripts|dictsort %}
  <script>
    { { script[1] | safe } }
  </script>
  {% endfor %}
  {% endif %}
  {% endblock body %}
</body>

</html>